/* Fonts -------------------------------------------------------*/

@font-face {
    font-family: Impact;
    src: url('../font/impact.ttf');
}

/* Flex styles -------------------------------------------------*/
header {
    display: flex;
    align-items: center;
}


/* Grid styles -------------------------------------------------*/
.memes-imgs {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-gap: 30px;
}

/* Generic styles ----------------------------------------------*/
body {
    font-family: 'Quicksand', sans-serif;
    margin: 0;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    font-size: 1em;
    color: white;
    background-color: #333;
    margin-bottom: 10px;
}

header ul {
    display: flex;
    list-style-type: none;
}

header ul>li {
    margin-left: 10px;
}

.filter-input {
    border: 1px solid #333;
    border-radius: 5px;
    height: 40px;
    width: 150px;
    margin: 15px auto;
    padding-left: 10px;
    outline-width: 0;
}

@media (min-width: 700px) {}

.memes-imgs {
    max-width: 960px;
    margin: 0 auto 30px;
}

header {
    padding-left: 20px;
    padding-right: 20px;
}

.filter,
.memes-tags {
    display: flex;
    justify-content: center;
    max-width: 960px;
    margin: 0 auto;
}

meme {
    position: relative;
}

.meme-img {
    height: 200px;
    width: 100%;
    object-fit: cover;
}

.meme-title {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.2);
}